---
import StumblerCard from '../components/StumblerCard.astro';
import Layout from '../layouts/Layout.astro';
import MainTitle from '../components/MainTitle.astro';
import NavBar from '../components/NavBar.astro';
import { getStumblers } from '../utils/getStumblers.js';
const all = await getStumblers(1);
const totalStumblers = all.length;
---
<Layout>
	<MainTitle subText="STUMBLERS COMUNES" numeroStumblers={totalStumblers}>		
	</MainTitle>
	<NavBar></NavBar>
	<div class="stumblers-container">
		{all.map((stumbler) => (
			<StumblerCard
				stumblerName={stumbler.name}
			/>
		))}
	</div>
</Layout>

<style>
	.stumblers-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 16px;
		padding: 50px;
	}
</style>