---
import StumblerCard from '../components/StumblerCard.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import {stumblers} from '../utils/dataUtils.js';
---
<Layout>
	<div class="stumblers-container">
		{stumblers.map((stumbler) => (
			<StumblerCard
				imageUrl={stumbler.imageUrl}
				imgId={stumbler.id}
				stumblerName={stumbler.name}
			/>
		))}
	</div>
</Layout>

<style>
	.stumblers-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 16px;
		padding: 50px;
	}
</style>