<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Stumb Album</title>
	</head>
	<body class="radial-gradient">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.radial-gradient {
 		background: radial-gradient(#9dc9f5 10px, #1e90ff  30%, #1e90ff 50%);
	}
</style>
